stages:
  - build

upload to s3:
  stage: build
  script:
    #- aws configure set region ap-south-1
    - mkdir s3prac
    - touch s3prac/HIRAL11.html
    - echo "hey, This Is My First Page " >> s3prac/HIRAL11.html
    - aws s3 cp s3prac/HIRAL11.html s3://$S3_BUCKET
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_KEY --paths '/*'
    - echo "code completed sucessfully"
  only:
    - main  
