name: Upload Website

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:

    - run: |
           aws s3 ls
           ls
           pwd
           aws s3 cp first.html s3://hiral1111
           aws cloudfront create-invalidation --distribution-id $secrets.$CLOUDFRONT_KEY --paths '/'
